$dark-bg: #24292e;
$light-bg: lighten(#24292e, 10%);
$body-bg: #17181a;
$white: rgba(255,255,255,0.75);
$black: #000;
$text-grey: #8899a6;
$border-color-light: rgba(255,255,255,0.1);

$nav-bar-bg: $dark-bg;
$nav-bar-text-color: $white;
$nav-bar-icon-color: #1DA1F2;
$tweet-bg: #24292e;
$tweet-text-color: $white;
$tweet-name-color: $white;
$tweet-separator-color: #324554;
$twitter-summary-card-title-color: $white;
$twitter-summary-card-text-color: $white;
$quote-tweet-fullname-color: $white;
$quote-tweet-text-color: $white;
$twitter-card-container-border-color: #324554;
$dashboard-profile-card-content-bg: #24292e;
$dashboard-profile-card-name-color: $white;
$dashboard-profile-card-avatar-border-color: #24292e;
$profile-card-stats-color: $white;
$new-tweets-bar-bg: #5cb85c;
$new-tweets-bar-text-color: $white;
$flex-module-bg: #24292e;
$trends-bg: #24292e;
$missing-tweets-bar-bg: #243447;
$link-color: #459BE6;
$darkgreyishblue: #3d5566;
